<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Pokemon World</title>

    <!-- Bootstrap Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Custom Stylehsheet -->
    <link th:href="@{/styles/view0.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="maxwidth800">
      <div class="margin-tb">
        <h2>Search for a Pokemon to add to your team</h2>
        <form
          action="#"
          data-th-action="@{/buildTeam}"
          data-th-object="${pokemon}"
          method="post"
        >
          <input
            type="text"
            name="pokemon"
            data-th-field="*{name}"
            placeholder="Key in a Pokemon!"
          />
          <div data-th-if="${#fields.hasErrors('name')}">
            <p data-th-errors="*{name}" data-th-errorclass="error"></p>
          </div>
          <!-- <div data-th-if="${#fields.hasErrors('global')}">
                    <p data-th-text="${fields.errors()}" data-th-errorclass="error"></p>
                </div> -->
          <button type="submit" class="btn btn-primary">Add to Team</button>
        </form>
      </div>

      <h2>Your current team:</h2>
      <form action="#" th:action="@{/buildTeam}" method="post">
        <div data-th-unless="${#lists.isEmpty(team)}">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="pokemon,iterator:${team.team}">
                <td scope="row" th:text="${iterator.index} + 1"></td>
                <td th:text="${pokemon.name}"></td>
                <td>
                  <input type="radio" th:value="${iterator.index}" name="del" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p data-th-if="${#lists.isEmpty(team)}">
          You have no Pokemon in your team. Go catch some Pokemon!
        </p>
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>

      <!-- Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
