<div class="container-section">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-panel-title>{{section.name}}</mat-panel-title>
                        <mat-panel-description>Total {{section.taskList.length}} tasks</mat-panel-description>
                    </mat-panel-title>
                </mat-expansion-panel-header >

                <table style="width:100%">
                    <tr>
                        <th style="width:10%">#</th>
                        <th style="width:50%">Name</th>
                        <th style="width:30%">Due Date</th>
                        <th style="width:10%">Edit</th>
                    </tr>
                    <tr *ngFor="let task of section.taskList;let i= index">
                        <td>{{i+1}}</td>
                        <td>{{task?.name}}</td>
                        <td>{{task?.dueDate | date:'shortDate'}}</td>
                        <button mat-icon-button color="primary" style="text-align:center" [routerLink]="['/section',section.id]"[queryParams]="{taskid:i}"><mat-icon fontIcon="edit">
                        </mat-icon></button>
                        <!-- <mat-divider [inset]="true"></mat-divider>-->
                    </tr>
                </table>
                <button mat-stroked-button type="button" (click)="addNewTask()">Add New Task</button>
            </mat-expansion-panel>
        </mat-accordion>
</div>



<!-- <div *ngIf="taskList.length >0">
    <div *ngFor="let task of taskList;let i = index">
        <app-taskform [task]="task" (upsertTaskSub)="updateTaskList($event,i)"><span>{{name}}</span></app-taskform>
    </div>
</div> -->