<h2>List of Projects</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Project Title</th>
      <th>Number of Tasks</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projectList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <p>{{ project.projectTitle }}</p>
      </td>
      <td>
        <p>{{ project.tasks.length }}</p>
      </td>
      <td>
        <button type="button" (click)="editProject(i)">Edit</button>
      </td>
      <td>
        <button type="button" (click)="delProject(i)">X</button>
      </td>
    </tr>
  </tbody>
</table>
